body {
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 25px;
	line-height: 1.3em;
}

a {
	text-decoration: none;
	color: #999;
	font-weight: 300;
}

.container {
	padding: 60px 0;
	width: 70%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.header {
	display: flex;
}

.hello {
	width: 40%;
	padding: 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-shadow: 5px 5px #bbb;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 80px;
	letter-spacing: 8px;
}

.profile {
	display: inline-block;
}
	
	#name-bold {
		font-weight: 400;
	}

.personal-info {
 width: 100%;
 border-top: 1px solid #000;
 border-bottom: 1px solid #000;
 margin: 40px 0;
 text-align: center;
 font-size: 20px;
}

	.name {
		line-height: 150px;
		margin: 20px 0;
		font-size: 150px;
		display: inline-block;
		letter-spacing: 3px
	}

	#first-name {
		padding-right: 20px;
	}

	#last-name {
		font-weight: 400;
	}

	#cred {
		font-size: 25px;
		padding-top: 98px;
		text-align: left;
	}

	.info-box {
		margin-top: 10px;
		margin-bottom: 25px;
		display: flex;
		justify-content: center;
	}

		.info {
			display: inline-block;
			padding-right: 30px;
		}

.section-box {
 display: flex;
 margin-bottom: 10px;
}

	.title-box {
		width: 25%;
		font-family: 'Roboto Slab', serif;
		font-weight: 700;
	}

		.title {
			line-height: 50px;
			float: left;
		}

		.big-title {
			line-height: 60px;
			float: left;
		}

	.exp-box {
		width: 75%;
	}

		.break {
			display: block;
			padding-top: 3px;
			padding-bottom: 8px;
		}

		.big-break {
			display: block;
			padding-top: 68px;
		}

		.employer {
			font-size: 25px;
			font-weight: 300;
		}

		.position {
			line-height: 1.1em;
			padding-top: 0;
			padding-bottom: 20px;
		}

		.history {
			width: 20%;
			font-size: 20px;
			text-align: right;
			float: left;
		}

		.highlights {
			width: 80%;
			float: left;
			margin-bottom: 20px;
		}

			td {
				padding: 0;
			}

			.bullet {
				width: 50px;
				text-align: center;
				vertical-align: top;
				padding-left: 20px;
			}

				.fa-arrow-right {
					transform: rotate(-45deg);
				}

			.description {
				padding-bottom: 10px;
			}

a:active, .blue {
	color: #00B1F1;
}

.shadow {
	text-shadow: 2px 2px #bbb;
	vertical-align: middle;
}

@media screen and (max-width: 1515px) {

	.header {
		display: block;
	}

		.hello {
			line-height: 80px;
			display: block;
			padding: 0;
			padding-bottom: 50px;
			margin: 20px 0;
			text-align: center;
			width: 100%;
		}

		.profile {
			padding: 0 30px;
		}

	.name {
		font-size: 100px;
		line-height: 100px;
		margin: 10px 0;
	}	

	.info-box {
		display: block;
		margin-bottom: 10px;
	}

		.info {
			display: block;
			padding: 0;
			padding-bottom: 10px;
		}
	
	.section-box {
		display: block;
	}

		.title-box {
			display: flex;
			width: 100%;
			margin-bottom: 10px;
		}

		.big-title, .big-title2 {
			height: 50px;
			line-height: 50px;
		}

		.exp-box {
			float: left;
			width: 100%
		}

		.history {
			width: 25%;
		}

		.highlights {
			width: 75%;
		}
}

@media screen	and (max-width: 1115px) {

	.name {
		font-size: 90px;
		line-height: 90px;
		margin: 10px 0;
	}	
	.history {
		width: 15%;
	}

	.highlights {
		width: 85%;
	}
}

@media screen and (max-width: 1040px) {

	.container {
		width: 85%;
	}

	#cred {
		display: block;
		text-align: center;
		padding: 10px 0;
	}

	.history {
		min-width: 105px;
	}

	.highlights {
		/*min-width: 550px;*/
	}
}

@media screen and (max-width: 830px) {

	.container {
		width: 100%;
		min-width: 830px;
	}

	.section-box {
		margin: 0 20px;
	}
}